/*! typography, forms */
@tailwind base;
/*! buttons, cards, navigation bars */
@tailwind components;
/*! single-purpose classes */
@tailwind utilities;

@layer base {
    :root {
        /* --custom-blue: theme('colors.slate.50'); */
        font-size: 16px;
        @apply font-medium tracking-tight;
    }

    h1 {
        @apply font-extrabold text-8xl font-sans;
    }

    h3 {
        @apply font-light text-3xl font-sans;
    }

    /* body {

    } */
}

@layer components {
    .navbar-menu-items {
        text-align: center;
        vertical-align: middle;
        width: 7rem;
        padding: 0.5rem 0rem;
        margin: 0rem 0.8rem;
        border-radius: 0.25rem;
    }
}


@layer utilities {
    .outline-all, .outline-all > * {
        @apply outline outline-orange-600;
    }

    .custom-border {
        @apply border-4 border-black rounded-xl;
    }
}
