/*! typography, forms */
@tailwind base;
/*! buttons, cards, navigation bars */
@tailwind components;
/*! single-purpose classes */
@tailwind utilities;

@layer base {
    :root {
        font-size: 16px;
        @apply font-medium tracking-tight;

        --primary: theme(colors.primary);
        --form-grey: theme(colors.form-grey)
    }

    h1 {
        @apply font-extrabold text-8xl font-sans;
    }

    h2 {
        @apply font-extrabold text-6xl font-sans;
    }

    h3 {
        @apply font-light text-3xl font-sans;
    }

    h4 {
        @apply font-light text-3xl font-sans;
    }

    input, textarea {
        outline: none;
    }

    img {
        pointer-events: none;
    }
}

@layer components {

    .section-template {
        @apply w-screen min-h-[120vh] 2xl:min-h-[100vh] flex justify-center;
    }

    .navbar-menu-items {
        text-align: center;
        vertical-align: middle;
        width: 7rem;
        padding: 0.5rem 0rem;
        margin: 0rem 0.8rem;
        border-radius: 0.25rem;
    }

    .other-btn-text {
        transition: all 0.5s ease;
        opacity: 50%;
    }

    .other-btn-text:hover {
        transform: translateY(-1.5rem);
        opacity: 100%;
    }

    .chevron-btn {
        transition: transform 0.5s ease-in-out;
        color: var(--primary);
        @apply bg-[#ff4343] p-2 grayscale;
    }

    .other-btn-text:hover .chevron-btn {
        transform: rotate(180deg);
        @apply grayscale-0;
    }

    .custom-drop-shadow {
        @apply drop-shadow-[0_1.2px_1.2px_rgba(0,0,0,0.8)];
    }

    .img-fade {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: radial-gradient(ellipse at center, transparent 50%, #121212 70%);
    }

    @keyframes animation {
        0% {
            text-shadow: 
            0 0 20px #fec9c9,
            10px -10px 30px #fe8585,
            -20px -20px 40px #ff4f34,
            20px -40px 50px #ec760c,
            -20px -60px 60px #cd4606,
            0 -80px 70px #973716,
            10px -90px 80px #451b0e;
        }

          100% {
            text-shadow: 
            0 0 20px #fec9c9,
            10px -10px 30px #fec9c9,
            -20px -20px 40px #fe9385,
            22px -42px 60px #ff6334,
            -22px -58px 50px #ec2a0c,
            0 -82px 80px #cd4606,
            10px -90px 80px  #973716;
        }
    }
}


@layer utilities {
    .outline-all, .outline-all > * {
        @apply outline outline-orange-600;
    }


    .center-anything {
        position: absolute;
        top: 50%;  
        left: 50%; 
        transform: translate(-50%, -50%);
    }

    .center-btn {
        left: 50%;
        transform: translate(-50%, 0);
    }

    #bgVideo {
        filter: grayscale(100%);
    }

    .custom-border {
        @apply border-4 border-black dark:border-white rounded-xl;
    }
    
    .lighter-border {
        @apply border-2 border-black dark:border-white rounded-xl;
    }

    /* active:button-active */
    /* .button-active {
        box-shadow: inset 4px 4px 4px #7e808a, inset -2px -2px 4px white;
    } */

    .fade-border:after {
        content:""; 
        position: absolute; 
        top: 0;
        left: 0;
        right: 0;
        background: linear-gradient(to right, var(--primary) 0%, var(--form-grey) 50%, var(--primary) 100%);
        height: 1px;  
    }

    .fade-border-dark:after {
        background: linear-gradient(to right, black 0%, var(--form-grey) 50%, black 100%);
    }

    .pressed-btn {
        @apply hover:shadow-none duration-200 hover:translate-x-[0.4rem] hover:translate-y-[0.4rem] dark:hover:translate-x-0 dark:hover:translate-y-0 dark:duration-0;
    }

    .pressed-input {
        @apply focus:shadow-none focus:translate-x-[0.2rem] focus:translate-y-[0.2rem] duration-200;
        @apply dark:duration-0 dark:shadow-none dark:focus:translate-x-0 dark:focus:translate-y-0;
    }

    .ts-colour {
        filter: invert(26%) sepia(36%) saturate(4950%) hue-rotate(186deg) brightness(102%) contrast(103%);
    }

    .next-colour {
        filter: invert(68%) sepia(58%) saturate(269%) hue-rotate(127deg) brightness(100%) contrast(94%);
    }

    /*  */
    .postgresql-colour {
        filter: invert(33%) sepia(67%) saturate(521%) hue-rotate(164deg) brightness(92%) contrast(84%);
    }

    /* #90c63f */
    .node-colour {
        filter: invert(72%) sepia(41%) saturate(610%) hue-rotate(41deg) brightness(90%) contrast(95%);
    }

    /* #f05033 */
    .git-colour {
        filter: invert(36%) sepia(34%) saturate(4210%) hue-rotate(345deg) brightness(104%) contrast(88%);
    }

    /* #ee4d2b */
    .torch-colour {
        filter: invert(39%) sepia(86%) saturate(3844%) hue-rotate(349deg) brightness(102%) contrast(87%);
    }
    
    /* #ff8e00 */
    .tensor-colour {
        filter: invert(70%) sepia(86%) saturate(3825%) hue-rotate(359deg) brightness(102%) contrast(107%);
    }
    
    /* #f74c01 */
    .rust-colour {
        filter: invert(41%) sepia(85%) saturate(5391%) hue-rotate(8deg) brightness(104%) contrast(99%);
    }

    /* #15b4c1 */
    .tailwind-colour {
        filter: invert(68%) sepia(21%) saturate(6023%) hue-rotate(139deg) brightness(90%) contrast(84%);
    }

    .whitish-colour {
        filter: invert(100%) sepia(88%) saturate(0%) hue-rotate(64deg) brightness(109%) contrast(97%);
    }

    .white-colour {
        filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(162deg) brightness(103%) contrast(105%);
    }
}
