/*! typography, forms */
@tailwind base;
/*! buttons, cards, navigation bars */
@tailwind components;
/*! single-purpose classes */
@tailwind utilities;

@layer base {
    :root {
        font-size: 16px;
        @apply font-medium tracking-tight;

        --bg-whitish: theme(colors.whitish-bg);
        --form-grey: theme(colors.form-grey)
    }

    h1 {
        @apply font-extrabold text-8xl font-sans;
    }

    h2 {
        @apply font-extrabold text-6xl font-sans;
    }

    h3 {
        @apply font-light text-3xl font-sans;
    }

    /* body {

    } */
}

@layer components {
    .navbar-menu-items {
        text-align: center;
        vertical-align: middle;
        width: 7rem;
        padding: 0.5rem 0rem;
        margin: 0rem 0.8rem;
        border-radius: 0.25rem;
    }
}


@layer utilities {
    .outline-all, .outline-all > * {
        @apply outline outline-orange-600;
    }

    .custom-border {
        @apply border-4 border-black rounded-xl;
    }
    
    .lighter-border {
        @apply border-2 border-black rounded-xl;
    }

    .fade-border:after {
        content:""; 
        position: absolute; 
        top: 0;
        left: 0;
        right: 0;
        background: linear-gradient(to right, var(--bg-whitish) 0%, var(--form-grey) 50%, var(--bg-whitish) 100%);
        /* background: red; */
        height: 1px;  
      }
}
